bin/
fuzz/
target/
documentation/user_documentation/_build
Cargo.lock
keysas-core/documentation/user_documentation/_build/
keysas-core/bin/
keysas-io/bin/
keysas-sign/bin/
keysas-backend/bin/
keysas-frontend/node_modules
keysas-frontend/dist
keysas-frontend/.vscode
keysas-admin/node_modules
keysas-admin/src-tauri/target
keysas-admin/.vscode
keysas-admin/.keysas.dat
keysas-admin/src-tauri/.keysas.dat
.vscode
.vs/
x64/
x86/
sdv/
minifilterx64/
.vscode/c_cpp_properties.json
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
keysas-usbfilter/minifilter/runsdvui.cmd
keysas-usbfilter/minifilter/SDV-default.xml
keysas-usbfilter/minifilter/sdv-user.sdv
keysas-usbfilter/minifilter/smvstats.txt
keysas-usbfilter/tray-app/package-lock.json
