# SPDX-License-Identifier: GPL-3.0-only
# (C) Copyright 2019-2022 Stephane Neveu

[Unit]
Description=keysas-transit daemon
PartOf=keysas.service
After=keysas-in.service

[Service]
Type=simple
User=keysas-transit
Group=keysas-transit
RuntimeDirectory=keysas
RuntimeDirectoryMode=0750
RuntimeDirectoryPreserve=yes
EnvironmentFile=/etc/keysas/keysas-transit.conf
ExecStart=/usr/bin/keysas-transit -i ${SOCKET_IN} -o ${SOCKET_OUT} -s ${MAX_SIZE} -c ${CLAMAV_IP} -p ${CLAMAV_PORT} -r ${RULES} -t ${YARA_TIMEOUT} -a ${ALLOWED_TYPES}
Restart=always
RestartSec=2

[Install]
WantedBy=keysas.service

