# SPDX-License-Identifier: GPL-3.0-only
# (C) Copyright 2019-2022 Stephane Neveu

[Unit]
Description=keysas-in daemon
PartOf=keysas.service
After=keysas.service

[Service]
Type=simple
User=keysas-in
Group=keysas-in
RuntimeDirectory=diode-in
RuntimeDirectoryMode=0750
RuntimeDirectoryPreserve=yes
EnvironmentFile=/etc/keysas/keysas-in.conf
ExecStart=/usr/bin/keysas-in -g ${KEYSASIN} -d ${DIODEIN} -l ${LOG} -c ${CLAMAV_IP} -p ${CLAMAV_PORT} -s ${ROTATE_OVER_SIZE} -n ${NB_OF_LOG_FILES} -m ${MAXFILESIZE}
Restart=on-failure
RestartSec=5
#FailureAction=poweroff

[Install]
WantedBy=keysas.service
