# SPDX-License-Identifier: GPL-3.0-only
# (C) Copyright 2019-2022 Stephane Neveu

[Unit]
Description=keysas-in daemon
PartOf=keysas.service
After=keysas.service

[Service]
Type=simple
User=keysas-in
Group=keysas-in
RuntimeDirectory=keysas
RuntimeDirectoryMode=0750
RuntimeDirectoryPreserve=yes
EnvironmentFile=/etc/keysas/keysas-in.conf
ExecStart=/usr/bin/keysas-in -i ${SAS_IN} -s ${SOCKET_IN}
Restart=on-failure
RestartSec=5
#FailureAction=poweroff

[Install]
WantedBy=keysas.service
