# SPDX-License-Identifier: GPL-3.0-only
# (C) Copyright 2019-2022 Stephane Neveu

[Unit]
Description=keysas-out daemon
PartOf=keysas.service
After=keysas-transit.service

[Service]
Type=simple
User=keysas-out
Group=keysas-out
EnvironmentFile=/etc/keysas/keysas-out.conf
ExecStart=/usr/bin/keysas-out -o ${SOCKET_OUT} -g ${SAS_OUT}
Restart=always
RestartSec=2

[Install]
WantedBy=keysas.service

