/* Color profiles */

.green {
  color: green;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.olive {
  color: olive;
}

.navy {
  color: navy;
}

.darkviolet {
  color: darkviolet;
}

/* vim: set ts=2 sts=2 sw=2 et: */
